<html>

  <head>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  </head>

  <body>
    <h1> {{ obligor.username }}'s debts to you </h1>

    <form action="" method="POST">

      {% csrf_token %}

      {% for benefit in benefits %}
      <p>
        <input type="checkbox" name="settled" value="{{ benefit.id }}" />
        {{ benefit }}
      </p>
      {% endfor %}

      <p> <a id="check-all" href=""> Check all </a> </p>
      <p> <input type="submit" value="Settle debts" /> </p>
    </form>

    <p>
      <a href="{% url 'purchases.views.show_balances' %}"> Go back </a>
    </p>

    <script>
      $(function() {
        $("#check-all").click(function(evt) {
           evt.preventDefault();
           $("input[type='checkbox'][name='settled']").
             prop("checked", true);
         });
      });
    </script>
  </body>
</html>
