{% load mathfilters %}

<h1> {{ purchase.amount }} of {{ purchase.product_price.product.name }} </h1>

<p>
  bought on {{ purchase.date }} for <em> {{ purchase.amount|mul:purchase.product_price.value }}
    {{ purchase.product_price.currency.code }} </em>
  at {{ purchase.product_price.shop.name }}
  by {{ purchase.payer.username }}.
</p>

<ul>
  {% for benefit in benefits %}
  <li>
    {{ benefit.beneficiary.username }} uses
    {{ benefit.template_share | floatformat:2 }} out of
    {{ purchase.amount }}
  </li>
  {% endfor %}
</ul>

{% if purchase.no_debt_paid_off %}
<form action="{% url 'purchases.views.add_beneficiary' purchase.id %}" method="POST">

  {% csrf_token %}

  <p> Beneficiary: </p>
  <p>
    <select name="beneficiary_id">
      {% for user in users %}
      <option value="{{ user.id }}">
        {{ user.username }}
      </option>
      {% endfor %}
    </select>
  </p>

  <p> Share: </p>
  <p> <input type="text" value="1.0" name="share"] /> </p>

  <p>
    <input type="submit" value="Add beneficiary" />
  </p>

</form>

<p>
  <a href="{% url 'purchases.views.delete_purchase' purchase.id %}">
    Delete!
  </a>
</p>
{% endif %}
