<h1> {{ purchase.product_price.product.name }} </h1>

<p>
  bought on {{ purchase.date }} at {{ purchase.product_price.shop.name }}
  by {{ purchase.payer.username }}.
</p>

<ul>
  {% for benefit in benefits %}
  <li> {{ benefit.beneficiary.username }} uses {{ benefit.amount }} out of {{ purchase.amount }} </li>
  {% endfor %}
</ul>

<form action="{% url 'purchases.views.add_beneficiary' purchase.id %}" method="POST">

  {% csrf_token %}

  <p> Beneficiary: </p>
  <p>
    <select name="beneficiary_id">
      {% for user in users %}
      <option value="{{ user.id }}">
        {{ user.username }}
      </option>
      {% endfor %}
    </select>
  </p>

  <p>
    <input type="submit" value="Add beneficiary" />
  </p>

</form>
